<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="card card-body">
        <div class="row mb-2 justify-content-end">
          <div class="input-group col-md-6 col-12">
            <div class="input-group-prepend">
              <label class="input-group-text" for="championship">Championship</label>
            </div>
            <select class="custom-select" id="type">
               <option selected value=""></option>
               <% types.sort((t1,t2)=>t1.name.localeCompare(t2.name)).forEach(function(type) { %>
                  <option value="<%= type.id %>"><%= type.name %></option>
               <% }) %>
            </select>
          </div>
          <div class="input-group col-md-4 col-12">
            <div class="input-group-prepend">
              <label class="input-group-text" for="contest">Date</label>
            </div>
            <select class="custom-select" id="contest">
               <option selected value=""></option>
            </select>
          </div>
          <script>
            var contests = [];
            <% contests.sort((c1,c2)=>c1.label.localeCompare(c2.label)).forEach(function(contest) { %>
              contests.push({id: "<%= contest.id %>", label: "<%= contest.label %>", typeid: "<%= contest.contest_typeid %>"});
            <% }) %>
            $("#type").change(function() {
              var typeid = $("#type").children("option:selected").val();
              $("#contest").children().remove().end()
              .append('<option selected value=""></option>');
              contests
                .filter(contest => contest.typeid==typeid)
                .forEach(contest => $("#contest").append('<option value="'+contest.id+'">'+contest.label+'</option>'));
            });
          </script>
          <button class="btn btn-outline-primary col-md-2 col-3" id="show">Show</button>
          <script>
            $("#show").click(function () {
              var contest = $("#contest").children("option:selected").val();
              var url = "/championship/" + contest;
              window.location = url;
            });
          </script>
        </div>
      </div>
      <div class="card card-body">
        <table class="table table-condensed table-striped mb-2">
          <thead><tr>
            <th scope="col">Official ranking</th>
            <th scope="col">Unofficial ranking</th>
            <th scope="col">Participant</th>
            <th scope="col">Country</th>
            <th scope="col">Points</th>
          </tr></thead>
          <tbody>
            <% results.sort((r1,r2) => r1.unofficial_rank-r2.unofficial_rank).forEach(function(result) { %>
              <tr>
                <th scope="row"><%= result.official_rank %></th>
                <td><%= result.unofficial_rank %></td>
                <td><a href="/participant/<%= result.id %>"><%= result.name %></a></td>
                <td><%= result.country %></td>
                <td><%= result.points %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

